legend 
{
font-weight:bold;
font-size:16pt;
text-align:center;

}
form
{

margin:200px;
margin-bottom:0px;
box-shadow:5px 5px 5px #888888;
text-align:center;
}

input
{
margin-bottom:10px;
}
#submit
{
box-shadow:5px 5px 5px #888888;
}
